<script type="text/javascript" >
	Ext.onReady(
		function() {
			Ext.create( 'Ext.Container', {
				renderTo: Ext.get('agex_top_actions'),
				layout : {
					type: 'hbox',
					maxHeight: 30
				},
				items : [
					<%= create_extjs_button_config( :refresh, nil, request.fullpath(), 'arrow_refresh.png' ) %>
				]
			});
		}		
	);
</script>

<div id='agex_top_actions'></div>


<%= netzke :schedules_list_panel, {
	:class_name => "FilteredSchedulesList",
	:filtering_date_start => @filtering_date_start,
	:filtering_date_end   => @filtering_date_end,
	:override_filtering	  => @override_filtering,
	:width => "98%",
	:height => @max_view_height,
	:border => true,
	:view_config => {
		:force_fit => true # force the columns to occupy all the available width
	}
} %>
