<div id='agex_top_actions'></div>


<%= netzke :weekly_planner_panel, {
	:class_name => "WeekPlannerPanel",
	:width => "98%",
	:height => 1763
} %>


<div id="divIssueReceiptDataContainer" hidden="true">
	<%= form_tag( issue_receipt_appointments_path(), :id => 'frmPostIssueReceipt' ) do -%>
		<%= hidden_field_tag( :data ) %>
	<% end %>
</div>
