<!-- Main menu section: -->
<%= render( :partial => AGEX_APP + '/main_menu') %>

<h1><%= t(:sub_entities_management) %></h1>

<script type="text/javascript" >
	Ext.onReady(
		function() {
			Ext.create( 'Ext.Container', {
				renderTo: Ext.get('agex_top_actions'),
				layout : {
					type: 'hbox',
					maxHeight: 30
				},
				items : [
					<%= create_extjs_button_config( :refresh, nil, request.fullpath(), 'arrow_refresh.png' ) %>
				]
			});
		}		
	);
</script>

<div id='agex_top_actions'></div>


<%= netzke :setup_management_panel, {
	:class_name => "Netzke::Basepack::TabPanel",
	:width => "98%",
	:height => @max_view_height,
	:border => true,
	:view_config => {
		:force_fit => true # force the columns to occupy all the available width
	},
	:prevent_header => true,
	:active_tab => 0,
	:items => [
  	{
	    :class_name => "EntityGrid",
	    :model => 'LeCity',
		:title => t(:cities),
		:add_form_window_config => { :width => 500, :title => "#{I18n.t(:add)} #{I18n.t(:le_city, {:scope=>[:activerecord, :models]})}" },
		:edit_form_window_config => { :width => 500, :title => "#{I18n.t(:edit)} #{I18n.t(:le_city, {:scope=>[:activerecord, :models]})}" },
		:columns => [
            { :name => :created_on, :label => I18n.t(:created_on), :width => 80, :read_only => true,
              :format => 'Y-m-d', :summary_type => :count },
            { :name => :updated_on, :label => I18n.t(:updated_on), :width => 80, :read_only => true,
              :format => 'Y-m-d' },
		    { :name => :name, :label => t(:name), :flex => 1 },
		    { :name => :zip, :label => t(:zip), :width => 60 },
		    { :name => :area, :label => t(:area), :width => 80 },
		    { :name => :country, :label => t(:country), :width => 100 },
		    { :name => :country_code, :label => t(:code), :width => 50 }
	    ]
	},
  	{
		:class_name => "EntityGrid",
		:model => 'LeTitle',
		:title => t(:titles),
		:add_form_window_config => { :width => 500, :title => "#{I18n.t(:add)} #{I18n.t(:le_title, {:scope=>[:activerecord, :models]})}" },
		:edit_form_window_config => { :width => 500, :title => "#{I18n.t(:edit)} #{I18n.t(:le_title, {:scope=>[:activerecord, :models]})}" },
		:columns => [
	        { :name => :created_on, :label => I18n.t(:created_on), :width => 80, :read_only => true,
	          :format => 'Y-m-d', :summary_type => :count },
	        { :name => :updated_on, :label => I18n.t(:updated_on), :width => 80, :read_only => true,
	          :format => 'Y-m-d' },
		    { :name => :name, :label => t(:name), :width => 120 },
		    { :name => :description, :label => t(:description), :flex => 1 }
	    ],
	    :lazy_loading => true
	}
  ]
} %>
